<% include ../partials/header %>

<% include ../partials/nav %>
<main class="container vertical-center">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <h1 class="text-capitalize"><%=campground.name%></h1>
        </div>
        <div class="col-lg-2"></div>

        <div class="col-lg-12 text-center">
            <img src="<%=campground.imgSrc%>">
        </div>
        <div class="col-lg-12 text-justify m-2">
            <p>
                <%= campground.description%>
            </p>

            <p>
                <a class="btn btn-primary" href="/campgrounds/<%= campground._id%>/comments/new">Add a comment</a>
            </p>

        </div>
        <div class="col-lg-12 text-justify m-2">

                <% campground.comments.forEach(comment => {%>
            <p>
                <strong> <%= comment.author %></strong>
                 - <%= comment.text %>
            </p>
                <%})%>


        </div>
    </div>
</main>


<% include ../partials/footer %>